/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

 // Colors

// light theme
$linen-color: #FBF2E8 !default;
$orange-color: #FF6663 !default;
$blue-color: #2CC9DE !default;
$pink-color: #DECCCF !default;
$cyan-color: #416165 !default;
$cyan-color-light: lighten($cyan-color, 50%);

// dark theme
$orange-color:    #DC944D !default;
$tea-green-color: #CADDA6 !default;

$dark-grey-color: #2F4649 !default;

$white-color: #ffffff !default;
$black-color: #000000 !default;