<ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
        <div class="row">
          {% if content.year %}
            <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 100px;line-height: 1;">
              <span class="badge font-weight-bold danger-color-dark" style="min-width: 65px">
                {{ content.year }}
              </span>
            </div>
          {% endif %}
          {% if content.title || content.institution %}
            <div class="d-flex col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0" style="justify-content:space-between;">
              <div>
                {% if content.title %}
                <h6 class="title font-weight-bold ml-1 ml-md-4">{{content.title}}</h6>
                {% endif %}
                {% if content.institution %}
                <div class="break"></div>
                <h6 class="ml-1 ml-md-4" style="font-size:0.95rem">{{content.institution}}</h6>
                {% endif %}
              </div>              
              {% if content.logo %}
                <span class="{{ content.logo_class }}" style="width:100px;flex-shrink:0"> 
                  <img src="{{ content.logo }}" alt="{{ content.institution }}" class="img-fluid" style="vertical-align:0">
                </span>
              {% endif %}
            </div>
          {% endif %}
          {% if content.info %}
            {% if content.title || content.institution %}
            <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 100px;"></div>
            {% endif %}
          <div class="d-flex col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
            {%- if content.single_item == true -%}
              <h6 class="ml-1 ml-md-4" style="font-size:0.9rem">{{content.info}}</h6>
            {%- else -%}
            <ul class="items" style="font-size:0.9rem">
              {% for item in content.info %}
                <li>
                  {% if item.contents %}
                    <span class="{% if content.no_title %}cv.no_title{% else %}item-title{% endif %}">{{ item.title }}</span>
                    <ul class="subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {%- endif -%}
          </div>
        {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>